/* Formatações gerais*/

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(236, 235, 235);
  font-family: monospace, sans-serif;
}

/* Edição Navbar */

#navbar {
  height: 100px;
  background: white;
  display: flex;
}

#leftside {
  width: 33.3%;
  line-height: 100px;
}

/* Edição Navbar --> logo */

#logo a {
  text-decoration: none;
}

#logo h1 {
  margin-left: 100px;
  color: #2a91e6;
  font-family: alternate-gothic-atf, sans-serif;
}

.cinza {
  color: lightgrey;
}

/* Edição Navbar --> Links */

#mid {
  text-align: center;
  width: 33.3%;
  line-height: 100px;
}

#mid li {
  display: inline;
}

#mid li a {
  text-decoration: none;
  padding: 10px;
  margin-right: 50px;
}

#mid li a:link {
  color: lightgrey;
  transition: 0.5s;
}

#mid li a:visited {
  color: lightgrey;
}

#mid li a:hover {
  color: #2a91e6;
}

/* Edição Navbar --> Link ativo */

#mid .active:link {
  color: #2a91e6;
}

#mid .active:visited {
  color: #2a91e6;
}

/* Edição Navbar --> Butões */

#conteudo h1::selection{
  background-color: lightgray;
}

#rightside {
  width: 33.3%;
  text-align: right;
  line-height: 100px;
  margin: 0 auto;
}

#butaoregisto {
  margin-right: 100px;
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 1px solid lightgrey;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
  font-family: monospace, sans-serif;
  font-size: 17px;
  color: lightgrey;
  padding: 0 5px;
}

#butaoregisto:hover {
  background-color: rgb(223, 222, 222);
  color: white;
}

#butaologin {
  margin-right: 25px;
  width: 75px;
  height: 30px;
  color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2a91e6;
  transition: 0.25s;
  font-family: monospace, sans-serif;
  font-size: 17px;
  padding-bottom: 2px;
}

#butaologin:hover {
  background-color: #2681cc;
}

/*Formatação conteudo */
#conteudo {
  width: 1080px;
  background-color: white;
  margin: 50px auto 0px;
  padding-bottom: 50px;
}

#servicos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
}

.servico {
  padding: 25px;
  flex-basis: 33%;
}

.servico img::selection,
.servico h2::selection,
.servico p::selection {
  background-color: lightgray;
}

.servico img {
  height: 50px;
}

.servico p {
  color: #2a91e6;
  margin-top: 2px;
}

#p1 {
  margin-top: 10px;
}

.servico hr {
  margin-top: 5px;
  margin-bottom: 2px;
  background-color: black;
  border: 0.5px solid black;
}

.servico h2 {
  color: lightgrey;
}

.fa-fill-drip {
  font-size: 40px;
}

/*Formatação Footer */
#footer {
  width: 1080px;
  background-color: lightgrey;
  text-align: center;
  padding: 50px 0px 25px 0px;
  color: rgb(56, 56, 56);
  margin: auto;
}

#morada {
  transition: 0.5s;
}

#morada:hover {
  color: #2a91e6;
  cursor: pointer;
}

#email {
  margin-top: 15px;
  transition: 0.5s;
}

#email span {
  font-style: italic;
}

#email:hover {
  cursor: pointer;
  color: #2a91e6;
}

#areacliente {
  margin-top: 15px;
  transition: 0.5s;
}

#areacliente a {
  text-decoration: none;
  color: rgb(56, 56, 56);
  transition: 0.5s;
}

#areacliente a:hover {
  color: #2a91e6;
}

#areacliente:hover {
  color: #2a91e6;
}

#horario {
  margin-top: 15px;
  transition: 0.5s;
}

#horario:hover {
  color: #2a91e6;
}

.para {
  display: block;
  margin-top: 5px;
}
