* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(236, 235, 235);
  font-family: monospace, sans-serif;
}

#navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}

#leftside {
  line-height: 100px;
  flex-basis: 33%;
}

#logo a {
  text-decoration: none;
}

#logo h1 {
  margin-left: 100px;
  color: #2a91e6;
  font-family: alternate-gothic-atf, sans-serif;
}

.cinza {
  color: lightgrey;
}
/* Edição Navbar --> Links */
#mid {
  text-align: center;
  flex-basis: 33%;
  line-height: 100px;
}

#mid li {
  display: inline;
}

#mid li a {
  text-decoration: none;
  padding: 10px;
  margin-right: 50px;
}

#mid li a:link {
  color: lightgrey;
  transition: 0.5s;
}

#mid li a:visited {
  color: lightgrey;
}

#mid li a:hover {
  color: #2a91e6;
}

/* Edição Navbar --> Link ativo */

#mid .active:link {
  color: #2a91e6;
}

#mid .active:visited {
  color: #2a91e6;
}

/* Edição Navbar --> Parte perfil */
#rightside {
  text-align: center;
  flex-basis: 33%;
  line-height: 100px;
}

#rightside li {
  display: inline;
}

#rightside li a {
  text-decoration: none;
  padding: 10px;
  margin-right: 50px;
  line-height: 100px;
}

#rightside li a:link {
  color: lightgrey;
  transition: 0.5s;
}

#rightside li a:visited {
  color: lightgrey;
}

#rightside li a:hover {
  color: #2a91e6;
}

/* Edição conteúdo da página */
#conteudo {
  width: 1080px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
}

#conteudo h1{
  padding-top: 25px;
  text-align: center;
  color: #2a91e6;
}

#pack-lav-sec{
  margin-top: 25px;
}

.servico{
  margin-left: 100px;
  margin-bottom: 50px;
  color: grey;
}

#pagamento{
  padding-bottom: 50px;
  text-align: right;
}

#subtotal{
  margin-top: 25px;
  margin-right: 200px;
  font-size: 25px;
}

hr{
  margin: auto;
  width: 81%;
  border: 1px solid #2a91e6;
  background-color: #2a91e6;
}

button{
  margin-top: 50px;
  margin-right: 100px;
  cursor: pointer;
  padding: 15px 32px;
  background-color: #2a91e6;
  color: white;
  text-align: center;
  border: none;
  font-size: 16px;
  transition: 0.25s;
}

button:hover{
  background-color: #2681cc;
}

select{
  border-radius: 2px;
}

select:focus{
  outline: none;
  border: 1px solid #2a91e6;
}

form input{
  border-radius: 2px;
  border: 1px solid grey;
}

form input:focus{
  outline: none;
  border: 1px solid #2a91e6;
}

form a{
  text-decoration: none;
}

form a:link {
  color: lightgrey;
  transition: 0.5s;
}

form a:visited {
  color:grey;
}

form a:hover {
  color: #2a91e6;
}